.product {
  min-width: 50%!important;

   
  ::v-deep .v-btn__content {
    display: flex;
    height: 100%;
    max-width: 100%;
    flex-grow: 1;
    justify-content: space-between;
  }

  &__name,
  &__coast {
    display: flex;
    height: 100%;
    align-items: center;
  }

  &__name {
    white-space: break-spaces;
    text-align: left;
    text-transform: none;
  }
  
  &__coast {
    width: 80px;
    justify-content: flex-end;
    flex-shrink: 0;
    transition: background-color ease 0.5s;
  }
}