.product {
  min-width: 50%!important;

   
  ::v-deep .v-btn__content {
    display: flex;
    height: 100%;
    max-width: 100%;
    flex-grow: 1;
    justify-content: space-between;
  }

  &__name,
  &__coast {
    display: flex;
    height: 100%;
    align-items: center;
    text-transform: none;
  }

  &__name {
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    line-height: 2rem;
  }
  
  &__coast {
    width: 150px;
    justify-content: flex-end;
    flex-shrink: 0;
  }
}